<div class="p-4" id="modal-content-wrapper">
    <div class="alert alert-warning alert-dismissible fade show" *ngIf="editForm?.dirty">
        <strong>You made changes. Any unsaved changes will be lost</strong>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errors.length > 0">
        <ul style="margin-bottom: 0px;">
          <li *ngFor="let error of errors">
            {{ error }}
          </li>
        </ul>
      </div>
    <form *ngIf="boardModel" (ngSubmit)="updateBoard()" id="editForm" #editForm="ngForm">
        <input [hidden]="true" type="number" name="id" [(ngModel)]="boardModel.id">
        <h2><input name="name" placeholder="Enter list's name" placeholder="Enter board's name" class="no-border" [(ngModel)]="boardModel.name" (focus)="false" type="text" [value]="boardModel.name" /></h2>
        <footer id="modal-footer">
            <button mat-raised-button [disabled]="!editForm?.dirty || boardModel.name===''" form="editForm" type="submit" id="modal-close-button">Save</button>
            <button mat-raised-button id="modal-save-button" (click)="closeModal()">Cancel</button>
        </footer>     
    </form>
</div>