.dots {
	  border: 2.22px;
    border-style: dashed;
    border-color: gray;
    background-color: white;
    width: 15rem;
    margin-bottom: 20px;
    padding: 5px;
    font-size: large;
  }

.dots:hover{
  background-color: rgba(0,0,0,0.05);
}
    
