<div class="p-4" id="modal-content-wrapper">
    <form>
        <h2><input class="no-border" (focus)="false" type="text" [value]="cardModel.name" /></h2>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">List</label>
            <ng-container class="col-sm-10" *ngIf="listsCards$ | async as listsCards">
                <select name="listCards" class="form-control" [(ngModel)]="cardModel.listCardsName">
                    <option *ngFor="let listCards of listsCards" [ngValue]="listCards.name">
                    {{listCards.name}}
                    </option>
                </select>
            </ng-container>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Priority</label>
            <ng-container class="col-sm-10" *ngIf="priorityStrings as priorities">
                <select name="priority" class="form-control" [(ngModel)]="cardModel.priority">
                    <option *ngFor="let priority of priorities" [ngValue]="priority.toString()">
                     {{priority.toString()}}
                   </option>
                </select>
            </ng-container>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Due date</label>
            <div style="width: fit-content;" class="col-sm-10 mt-1">
                <input
                type="date"
                min="{{dateMin}}"
                value="{{cardModel.dueDate.substring(0,10)}}"
			/>
            </div>
        </div>
        <div class="form-group col">
            <label class="col-sm-2 col-form-label">Description</label>
            <div>
                <textarea [value]="cardModel.description" [ngModel]="cardModel.description" id="" cols="50" rows="4">
                </textarea>
            </div>
        </div>
    </form>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-close-button" (click)="closeModal()">Save</button>
        <button mat-raised-button id="modal-save-button" (click)="closeModal()">Close</button>
    </footer>
</div>