<nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
    <div class="container">
      <a class="navbar-brand" href="#">Task Board</a>
      <button class="btn float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end w-25" data-bs-backdrop="true" data-bs-scroll="true" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
        <app-actions-sidebar></app-actions-sidebar>
      </div>
    </div>
  </nav>