<div class="col" style="align-items: self-start; display: inline;">
    <div class="row-container">
        <h2>{{listCards?.name}}</h2>
        <a #openMenu href="{{listCards?.id}}">
            <svg  aria-haspopup="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" id="openMenu" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
              <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
            </svg>
        </a>
        <app-list-context-menu [id]="listCards?.id" [target]="openMenu"></app-list-context-menu>
    </div>
    <button (click)="openCreateForm()" class="dots" data-initialized="true">
        Add
    </button>
    <div class="col mb-4" style="align-items: self-start" *ngFor="let card of listCards?.cards">
        <app-card [card]="card"></app-card>
    </div>
</div>