#modal-content-wrapper {
    background-color: white;
    opacity: 100%;
    width: 100%;
    height: 100%;
    display: flexbox;
}#modal-title {
    font-size: 22px;
}#modal-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:center;
    gap: 20px;
    margin-top: 40px;
    position: relative;
}#modal-close-button {
    background-color: #ce0909;
}