<div class="p-4" id="modal-content-wrapper">
    <div class="alert alert-warning alert-dismissible fade show" *ngIf="editForm.dirty">
        <strong>You made changes. Any unsaved changes will be lost</strong>
    </div>
    <form (ngSubmit)="updateCard()" id="editForm" #editForm="ngForm">
        <input [hidden]="true" type="number" name="id" [(ngModel)]="cardModel.id">
        <h2><input name="name" class="no-border" [(ngModel)]="cardModel.name" (focus)="false" type="text" [value]="cardModel.name" /></h2>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">List</label>
            <ng-container class="col-sm-10" *ngIf="listsCards$ | async as listsCards">
                <select name="listCardsName" class="form-control" [(ngModel)]="cardModel.listCardsName">
                    <option *ngFor="let listCards of listsCards" [ngValue]="listCards.name">
                    {{listCards.name}}
                    </option>
                </select>
            </ng-container>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Priority</label>
            <ng-container class="col-sm-10" *ngIf="priorityStrings as priorities">
                <select name="priority" class="form-control" [(ngModel)]="cardModel.priority">
                    <option *ngFor="let priority of priorities" [ngValue]="priority.toString()">
                     {{priority.toString()}}
                   </option>
                </select>
            </ng-container>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Due date</label>
            <ng-container>
            <div style="width: fit-content;" class="col-sm-10 mt-1">
                <input
                type="date"
                value="{{cardModel.dueDate.substring(0,10)}}"
                name="dueDate"
                ngModel="{{cardModel.dueDate.substring(0,10)}}"
                min="{{dateMin}}"
			/>
            </div></ng-container>
        </div>
        <div style="display: flex; flex-direction: column;" class="form-group">
            <label style="font-size: medium;" class="col-sm-2 col-form-label">Description</label>
            <ng-container>
                <textarea placeholder="Write description for the card" name="description" [value]="cardModel.description" [(ngModel)]="cardModel.description" id="" cols="50" rows="3">
                </textarea>
            </ng-container>
        </div>
    </form>
    <footer id="modal-footer">
        <button mat-raised-button [disabled]="!editForm.dirty" form="editForm" type="submit" id="modal-close-button">Save</button>
        <button mat-raised-button id="modal-save-button" (click)="closeModal()">Cancel</button>
    </footer>
</div>