<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 380px;">
    <div class="offcanvas-header bg-dark sidebar-heading border-bottom" style="height: 56px;">
            <span style="color: aliceblue;" class="fs-5 fw-semibold">History</span>
            <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="mt-4 px-3 list-group align-items-stretch list-group-flush overflow-auto vh-75 border-bottom scrollarea">
        <div class="col" *ngFor="let action of actions">
            <p>{{action.message}}</p>
        </div>
    </div>
</div>