<div class="card" *ngIf="card" style="width: 15rem">
    <div class="card-body col p-10">
      <div class="row-container">
        <h4 class="card-title">{{card.name}}</h4>
        <a #openMenu href="{{card.id}}">
        <svg  aria-haspopup="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" id="openMenu" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
          <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
        </svg></a>
        <app-card-context-menu [id]="card.id" [target]="openMenu"></app-card-context-menu>
      </div>
      <h6 class="card-subtitle text-muted">{{card.priority}}</h6>
      <p class="card-text p-y-1">{{card.description}}</p>
    </div>
</div>
